@import 'minireset.min.css';
@import 'fonts.css';

/* blue: #96c5d8; */
/* green: #65873b; */
/* white: #f2f1e6; */

body {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    color: #f2f1e6;
}
h1 {
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
}
h1.main {
    margin-top: 25vh;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5rem;
}
.center-self {
    margin: auto;
}
.flex-break {
    flex-basis: 100%;
    height: 0;
}
.container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    max-width: initial;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('/images/poster.jpg') no-repeat;
    background-size: cover;
}
#cover {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(150, 197, 216, 0.9);
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.title {
    text-align: center;
}

#logo {
    margin: 5rem 5rem 0 auto;
    align-self: start;
    max-width: 10rem;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#email-box {
    padding: 8rem 5rem;
    width: 100%;
    position: relative;
}

#email-box input, button {
    font-size: 1.4rem;
    background: transparent;
    border: none;
    
}
#email-box input {
    width: 60%;
    border-bottom: 4px solid #65873b;
    color: #65873b;
    text-align: center;
    padding: 0.3em;
}
#email-box input::placeholder {
    color: #65873b;
    font-weight: 300;
}

button {
    background-color: #65873b;
    color: #f2f1e6;
    cursor: pointer;
    padding: 1rem 5rem;
    border-radius: 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

button a {
    color: #f2f1e6;
    text-decoration: none;
}



@media screen and (max-device-width: 800px) {
    html {
        background: url('/images/poster.jpg') #000 no-repeat center center;
        background-size: cover;
    }
    #bgvid {
        display: none;
    }
}