---
layout: default
---
<section class="wrapper">
    <div id="cover">
        <div class="content-wrap">
            <div class="title center-self">
                <h1 class="main">Sorry, that page was not found.</h1>
                <br><br>
                <button class="button"><a href="/">back to main page.</a></button>
            </div>
        </div>
    </div>
</section>
