<br> <br>
<hr> <hr>
<br> <br>

<ul>

  <%
    demos = %w[
      ./demo1
      ./demo1b
      ./demo2
    ]

    demos.each do |url|
  %>

    <li>
      <a href='<%= url %>' target='_blank'><%= url %></a>
    </li>

  <% end %>

</ul>
