---
layout: default
---
<section class="wrapper">
    <div id="cover">
        <div class="content-wrap">
            <div class="title center-self">
                <h1 class="main">Meditation Made Simple.</h1>
                <h2>Thank you for signing up.  We will be in touch.</h2>
                <br><br>
                <button class="button"><a href="/">back to main page.</a></button>
            </div>
        </div>
    </div>
    <video playsinline autoplay muted loop poster="/images/poster.jpg" id="bgvid">
        <source src="/images/background-720.webm" type="video/webm">
        <source src="/images/background-720.mp4" type="video/mp4">
    </video>
</section>
